body {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

caption{
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

th{
    background-color: #666;
    color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid black;
}

td{
    background-color: #fff;
    color: #000;
    font-size: 12px;
    padding: 10px;
    border: 1px solid black;
}


tfoot td {
    background-color: #ccc;
}

a {
    color: blue;
    font-size: 12px;
    text-decoration: none;
}

ul li {
    color: #000;
    font-size: 12px;
}


